<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Teil die neuesten Meldungen!</h1>
        <%= render 'shared/micropost_form' %>
         <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <div align= center>
  <p><%= link_to "Registrieren", signup_path, :class => "Registrieren_button round" %></p>
  <p><%= link_to "Sign in", signin_path, :class => "signin_button round" %></p>
  <p><%= link_to "About", about_path, :class => "about_button round" %></p>
  <p><%= link_to "Contact", contact_path, :class => "contact_button round" %></p>
  <p><%= link_to "Help", help_path, :class => "help_button round" %></p>
  </div>
<% end %>

